@using StaticResources
@using StaticResources.View.Coating

@model IEnumerable<TopProSystem.Areas.MasterSetting.Models.MA005>
@{
    ViewBag.Title = Resource.MasterTitle;
    Layout = "~/Areas/MasterSetting/Views/Shared/_LayoutMasterSeting.cshtml";
    ViewBag.headerName = ViewBag.Title;
}

<script type="text/javascript">
    $(function () {
        @Html.Raw(TempData[TopProSystem.Models.ConstantData.Notification_key])
    })

</script>

<style>

    .data-display table tr td:nth-child(3) {
        text-align: center;
    }
</style>
<div class="container-fluid">
    <div class="pos-top">
        <div class="row mx-0">
            <div class="col-lg-12">
                <form action="#" method="get" class="form-inline">
                    <div class="form-group">
                        <input type="text" name="coatCode" class="search" value="" placeholder="@Resource.PlacehoderTextSearch" />
                        <button type="button" id="btnSearch" class="btn-primary search ml-2">@Button.BtnSeach</button>
                    </div>
                </form>
            </div>

        </div>
        <div class="row mx-0 mt-5">
            <div class="col-lg-12">
                <button class="btn-danger float-right ml-2" id="deleteBtn">@Button.BtnDelete</button>
                <a href="@Url.Action("GetInsertCoating","Master")" class="button float-right btn-addnew">@Button.BtnAdd</a>
            </div>

        </div>
    </div>
    <div class="data-display">
        <table class="w-100 table-sm" id="dataTable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>@Resource.MECOAT</th>
                    <th>@Resource.MECOATW</th>
                    <th>@Resource.MERGSDT</th>
                    <th>@Resource.MERGSTM</th>
                    <th>@Resource.MEUPDT</th>
                    <th>@Resource.MEUPDTM</th>
                    <th>@Button.LbEdit</th>
                    <th>@Button.LbSelect</th>
                </tr>
            </thead>
            @*<tbody>
                @{ int n = 1;}
                @foreach (var i in Model)
                {
                    <tr id="@i.MECOAT.Trim()">
                        <td>@n</td>
                        <td>@i.MECOAT</td>
                        <td>@i.MECOATW</td>
                        <td>@String.Format("{0:dd/MM/yyyy}", i.MERGSDT)</td>
                        <td>@i.MERGSTM</td>
                        <td>@String.Format("{0:dd/MM/yyyy}", i.MEUPDT)</td>
                        <td>@i.MEUPDTM</td>
                        <td>
                            <a href="@Url.Action("GetUpdateCoatingMaster","Master", new {meCoat = i.MECOAT.Trim() })" class="edit">
                                <img src="~/Images/Icon/edit-icon.png" />
                            </a>
                        </td>
                        <td><input type="checkbox" name="name" value="@i.MECOAT.Trim()"/></td>
                    </tr>
                    n++;
                }
            </tbody>*@
        </table>
    </div>
</div>


<script type="text/javascript">
    const URL_DELETE_COATING = '/Master/DeleteCoatingMaster';
    const URL_AJAXHANDLER = '/Master/AjaxHandlerCoatingMaster';
    const URL_CHECK_COATING_REFERENCE ='/Master/CheckCoatingInUsedReference'

   $('#dataTable').on("click", function () {
        var checkboxs = $(this).find("input[type=checkbox]:checked");
        if (checkboxs.length != 0) {
            checkboxs.each(function () {
                var $checkbox = $(this);
                $.getJSON(URL_CHECK_COATING_REFERENCE, {
                    coating: $checkbox.val() }).done(function (data) {
                        if (data.message != null && data.message!='') {
                            ErrorAlert("@RLayout.IsUsed " + data.message)
                        $checkbox.prop('checked', false);
                    }
                }).fail(function (rs) {
                    console.log(rs.responseText);
                })
            })
        }
    })

    $('#deleteBtn').click(function () {
        var length = $('input[type="checkbox"]:checked').length;
        if (length === 0) {
            alert("@Html.Raw(RLayout.ErrorNoRowSelect)");
            return;
        }
        var value = '';
        $('input[type="checkbox"]:checked').each(function () {
            value += $(this).val() + '|';
        })
        value = value.substring(0, value.length - 1);
        $.confirm({
            title: "<span class='text-secondary'>@RLayout.Warning</span>",
            icon: 'fa fa-warning',
            content: '@Html.Raw(RLayout.ContentDelete)',
            type: 'blue',
            buttons: {
                confirm: {
                    text: '@Button.BtnConfirm',
                    btnClass: 'btn-confirm text-capitalize',
                    action: function () {
                        $.getJSON(URL_DELETE_COATING, { arraycoatingCode: value }).done(function (rs) {
                            if (!rs) window.location.href = rs;
                            else {
                                SuccessAlert('@RLayout.DeleteMsg');
                                $('#dataTable').DataTable().ajax.reload();
                            }
                        }).fail(function (rs) {
                            console.error(rs.responseText);
                        });
                    }
                },
                cancel: {
                    text: '@Button.BtnCancel',
                    btnClass: 'btn-cancel text-capitalize',
                    action: function () {

                    }
                }
            }
        });
    })

    $(document).ready(function () {
        var t = $('#dataTable').DataTable({
            "ordering": false,
            "info": false,
            "lengthChange": false,
            "pageLength": DataTableDisplayLength,
            "bServerSide": true,
            "sAjaxSource": URL_AJAXHANDLER,
            "fnServerData": function (sSource, aoData, fnCallback, oSettings) {
                oSettings.jqXHR = $.ajax({
                    "dataType": 'json',
                    "url": sSource,
                    "data": aoData,
                    "success": fnCallback,
                    "error": function () {
                        alert("@RLayout.SessiontimeoutRespone");
                        window.location.href = "@Url.Action("GetLogin","Account", new {area = "" })"
                    }
                });
            },
            "bProcessing": true,
            "sServerMethod": "POST",
            "sPaginationType": "full_numbers",
            "language": {
                "paginate": {
                    "first": '<i class="fa fa-fast-backward"></i>',
                    "last": '<i class="fa fa-fast-forward"></i>',
                    "next": '<i class="fa fa-forward"></i>',
                    "previous": '<i class="fa fa-backward"></i>'
                },
                "processing": '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>'
            },
            "columns": [
                { "data": null },
                { "data": "MECOAT" },
                { "data": "MECOATW" },
                { "data": "MERGSDT" },
                { "data": "MERGSTM" },
                { "data": "MEUPDT" },
                { "data": "MEUPDTM" },
                { "render": function (data, type, row) { return '<a href="/MasterSetting/Master/GetUpdateCoatingMaster?meCoat=' + row["MECOAT"] + '" class="edit"><img src="/Images/Icon/edit-icon.png" /></a>' } },
                { "render": function (data, type, row) { return '<input type="checkbox" name="name" value="' + row["MECOAT"] + '" />' } }
            ]

        });

        t.on('draw.dt', function () {
            var PageInfo = $('#dataTable').DataTable().page.info();
            t.column(0, { page: 'current' }).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1 + PageInfo.start;
            });
        });


        $('#btnSearch').on('click', function () {
            var searchKey = $('.search').val();
            if (searchKey == "") window.location.hash = "";
            else
                window.location.hash = "search-key=" + searchKey;
            t.search(searchKey).draw();
        })


    });
</script>