@model TopProSystem.Areas.MasterSetting.Models.MA011
@using StaticResources
@using StaticResources.View.Credit

@{
    ViewBag.Title = Resource.ChangeTitle;
    Layout = "~/Areas/MasterSetting/Views/Shared/_LayoutMasterSeting.cshtml";
    ViewBag.headerName = ViewBag.Title;
}

<style>
    input[type=text], select {
        width: 338px;
    }

    .divTableRow .divTableCell:first-child {
        width: 10%;
    }

    .divTableRow .divTableCell:last-child {
        width: 90%;
    }
</style>

<div class="container-fluid">
    <div class="data-content">
        <form action="@Url.Action("UpdateCredit","Master")" method="post" id="Credit-Master-Form">
            <div class="divTable w-100" style="border: 1px solid #000">
                <div class="divTableBody">
                    <div class="divTableRow">
                        <div class="divTableCell"><span class="title-normal">@Resource.MLCSTCD</span></div>
                        <div class="divTableCell">
                            <input type="text" name="MLCSTCD" id="MLCSTCD" value="@Model.MLCSTCD" readonly tabindex="1" />
                            <input type="text" name="MLCSTCD_dl" id="MLCSTCD_dl" value="" readonly/>
                        </div>
                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell"><span class="title-normal">@Resource.MLCRDRK</span></div>
                        <div class="divTableCell">
                            <input type="text" name="MLCRDRK" id="MLCRDRK" value="@Model.MLCRDRK" tabindex="2" />
                        </div>
                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell"><span class="title-normal">@Resource.MLVLDTR</span></div>
                        <div class="divTableCell">
                            <input type="text" name="MLVLDTR" id="MLVLDTR" value="@Model.MLVLDTR" tabindex="3" />
                        </div>
                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell"><span class="title-normal">@Resource.MLCRDLM</span></div>
                        <div class="divTableCell">
                            <input type="text" name="MLCRDLM" id="MLCRDLM" value="@Model.MLCRDLM" tabindex="4" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-3 float-right">
                <button type="submit" class="btn-primary">@Button.BtnConfirm</button>
                <button type="button" class="cancel" onclick="javascript:window.location.href='/MasterSetting/Master/CreditMaster'">@Button.BtnCancel</button>

            </div>
        </form>
    </div>

</div>

<script type="text/javascript">

    $('#Credit-Master-Form').validate({
        rules: {
            MLCRDRK: {
                required: true,
                maxlength: 1
            },
            MLVLDTR: {
                required: true,
                maxlength: 6,
                minlength: 5,
                number: true,
                validthrough: true
            },
            MLCRDLM: {
                required: true,
                maxlength: 15,
                number: true
            }
        },
        messages: {

            MLCRDRK: {
                      required: '@Html.Raw(RLayout.Required)',
                maxlength: '@Html.Raw(string.Format(RLayout.Maxlength,"1"))',

            },
            MLVLDTR: {
           required: '@Html.Raw(RLayout.Required)',
                maxlength: '@Html.Raw(string.Format(RLayout.Maxlength,"6"))',
                minlength: '@Html.Raw(string.Format(RLayout.Minlength, "6"))',
                       number:'@Html.Raw(RLayout.IsNumber)',

            },
            MLCRDLM: {
              required: '@Html.Raw(RLayout.Required)',
              maxlength: '@Html.Raw(string.Format(RLayout.Maxlength,"15"))',
               number:'@Html.Raw(RLayout.IsNumber)',
            }
        },
        errorElement: 'label',
        errorPlacement: function (error, element) {
            error.insertAfter(element);
        },
    })

    $.validator.addMethod("validthrough", function (value) {
        return valiFormatMMYYYY(value);
    }, "@Html.Raw(Resource.ValidDate)");


    $().ready(function () {
        var data = $('#MLCSTCD').val().trim();
        if (data !== '') {
            $.getJSON('@Url.Action("GetUserName","Master",new {area = "MasterSetting" })', { userid: data }).done(function (rs) {
                $('#MLCSTCD_dl').val(rs.username);
            })
        } else {
            $('#MLCSTCD_dl').val('');
        }
    })
</script>
