@using StaticResources
@using StaticResources.View.Location
@model IEnumerable<TopProSystem.Areas.MasterSetting.Models.MA004>
@{
    ViewBag.Title = Resource.MasterTitle;
    Layout = "~/Areas/MasterSetting/Views/Shared/_LayoutMasterSeting.cshtml";
    ViewBag.headerName = "Location Master";
}

@using TopProSystem.Extension.AccountRole
@{
    var permission = new PermissionService();
    var checkbuton = permission.AuthorizeAction(StandardPermissionProvider.LocationMaster);
}
<script type="text/javascript">
    $(function () {
        @Html.Raw(TempData[TopProSystem.Models.ConstantData.Notification_key])
    })

</script>

<div class="container-fluid">

    <div class="pos-top">
        <div class="row mx-0">
            <div class="col-lg-12">
                <form action="#" method="get" class="form-inline">
                    <div class="form-group">
                        <input type="text" name="locationcode" class="search" value="" placeholder="@Resource.PlaceholderTextSearch" />
                        <button type="button" id="btnSearch" class="btn-primary search ml-2">@Button.BtnSeach</button>
                    </div>
                </form>
            </div>

        </div>
        <div class="row mx-0 mt-5">
            <div class="col-lg-12">
                @if (checkbuton.ShowDelete)
                {
                    <button class="btn-danger float-right ml-2" id="deleteBtn">@Button.BtnDelete</button>
                }
                @if (checkbuton.ShowAdd)
                {
                    <a href="@Url.Action("GetInsertLocationMaster", "Master")" class="button float-right btn-addnew">@Button.BtnAdd</a>
                    } 
                </div>

        </div>
    </div>
    <div class="data-display">
        <table class="w-100 table-sm" id="dataTable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>@Resource.MDLCTCD</th>
                    <th>@Resource.MDWRCTG</th>
                    <th>@Resource.MDLCTNM</th>
                    <th>@Resource.MDRGSDT</th>
                    <th>@Resource.MDRGSTM</th>
                    <th>@Resource.MDUPDT</th>
                    <th>@Resource.MDUPDTM</th>
                    @if (checkbuton.ShowEdit)
                    {
                        <th>@Button.LbEdit</th>
                    }
                    @if (checkbuton.ShowDelete)
                    {
                            <th>@Button.LbSelect</th>
                    }
                        </tr>
            </thead>
        </table>
    </div>
</div>



</div>

<script type="text/javascript">
    const URL_DELETE_LOCATION = '/Master/DeleteLocationMaster';
    const URL_AJAXHANDLER = '/Master/AjaxHandlerLocationMaster';
    $('#deleteBtn').click(function () {
        var length = $('input[type="checkbox"]:checked').length;
        if (length == 0) {
            alert("@Html.Raw(RLayout.ErrorNoRowSelect)");
            return;
        }
        var value = '';
        $('input[type="checkbox"]:checked').each(function () {
            value += $(this).val() + '|';
        });
        value = value.substring(0, value.length - 1);
        $.confirm({
            title: "<span class='text-secondary'>@Html.Raw(Button.BtnConfirm)</span>",
            icon: 'fa fa-warning',
            content: '@Html.Raw(RLayout.ContentDelete)',
            type: 'blue',
            buttons: {
                confirm: {
                    text: '@Button.BtnConfirm',
                    btnClass: 'btn-confirm text-capitalize',
                    action: function () {
                        $.getJSON(URL_DELETE_LOCATION, { arraylocationCode: value}).done(function (rs) {
                            if (!rs) window.location.href = rs;
                            else {
                                SuccessAlert('Delete successfull.');
                                $('#dataTable').DataTable().ajax.reload();
                            }

                        }).fail(function (rs) {
                            console.log(rs.responseText);
                        });
                    }
                },
                cancel: {
                    text: '@Button.BtnCancel',
                    btnClass: 'btn-cancel text-capitalize',
                    action: function () {

                    }
                }
            }
        });
    })
    $(document).ready(function () {
        var t = $('#dataTable').DataTable({
            "ordering": false,
            "info": false,
            "lengthChange": false,
            "pageLength": DataTableDisplayLength,
            "bServerSide": true,
            "sAjaxSource": URL_AJAXHANDLER,
            "bProcessing": true,
            "sServerMethod": "POST",
            "sPaginationType": "full_numbers",
            "language": {
                "paginate": {
                    "first": '<i class="fa fa-fast-backward"></i>',
                    "last": '<i class="fa fa-fast-forward"></i>',
                    "next": '<i class="fa fa-forward"></i>',
                    "previous": '<i class="fa fa-backward"></i>'
                },
                "processing": '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>'
            },
            "columns": [
                { "data": null },
                { "data": "MDLCTCD" },
                { "data": "MDWRCTG" },
                { "data": "MDLCTNM" },
                { "data": "MDRGSDT" },
                { "data": "MDRGSTM" },
                { "data": "MDUPDT" },
                { "data": "MDUPDTM" },
                @if (checkbuton.ShowEdit)
               {  <text>
                { "render": function(data, type, row) { return '<a href="/MasterSetting/Master/GetUpdateLocationMaster?locationcode=' + row["MDLCTCD"] + '" class="edit"><img src="/Images/Icon/edit-icon.png" /></a>' } },
                 </text>
                 }
                 @if (checkbuton.ShowDelete)
                 {
                 <text>
                  { "render": function (data, type, row) { return '<input type="checkbox" name="name" value="' + row["MDLCTCD"] + '" />' } }
                    </text>
                   }
            ]
        });
        t.on('draw.dt', function () {
            var PageInfo = $('#dataTable').DataTable().page.info();
            t.column(0, { page: 'current' }).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1 + PageInfo.start;
            });
        });
        $('#btnSearch').on('click', function () {
            t.search($('.search').val()).draw();
        })


    });
</script>